ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  color: bisque;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: inherit;
}
