body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background: fixed;
  background-image: url("@assets//hpOverhead.jpeg");
  background-color: var(--background-color);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: end;
  color: bisque;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.centered-div {
  justify-self: center;
}
