body {
  margin: 0;
  background-image: url("@assets//hpOverhead.jpeg");
  background-size: 100%;
  background-position: top;
}

.header {
  display: flex;
  justify-content: center;
  color: bisque;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.centered-div {
  justify-self: center;
}
